<div class="wrap">
    <div class="inner">
        <div class="title">
            <P class="left">邮箱找回</P>
            <P class="right">短信找回</P>
        </div>
        <P class="tip">{{obj.result}}</P>
        <div class="content">
            <div class="container">
                <span class="tit">邮箱验证码:</span>
                <input type="text" 
                name="code" 
                [(ngModel)]="code"
                id="" placeholder="邮箱验证码">
            </div>
            <div class="container">
                <span class="tit">新密码:</span>
                <input type="text" 
                 [(ngModel)]="pwd"
                name="" id="" placeholder="设置密码">
            </div>
            <div class="container">
                <span class="tit">再次确认:</span>
                <input type="text" 
                 [(ngModel)]="con_pwd"
                name="" id="" placeholder="请再次输入密码">
            </div>
        </div>
        <div class="btnWrap">
            <input class="btn" (click)= "check_login()" type="button" value="确 定">
        </div>
    </div>
    
</div>   